$background-white: #FFFFFF;
$background-offwhite: #F7F7F7;
$background-dark: #272727b3;
$background-dark-solid: #272727;
$background-lightgreen: #4DD3BE;
$background-green: #35B19D;
$text-grey: #5F6368;

$website-width: 1440px;